
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="content" style="display:inline-block; width:85%;">
    <h2 style="color:red; text-align:center; margin:0;  ">DUYURULAR</h2>
    <hr style="border-top:2px solid black;" />
    <ol class="ana">
        <u><strong>YAZ OKULU DERS SEÇİMLERİ: </strong></u>
        <br />
        <li>
            21.06.2018 tarihli Senato Toplantısında:
            Gazi Üniversitesi Yaz Okulu Yönergesinin 8 inci maddesinin b fıkrası “Öğrenci, daha önce aldığı, alarak başarısız olduğu,
            kredisi yetmediğinden daha önce alamadığı veya devamsızlık nedeniyle başarısız olduğu dersleri almak için kaydolabilir.
            Ayrıca genel ağırlıklı not ortalaması 2.50 ve üzerinde olan öğrenci
            <strong>danışmanının uygun gördüğü üst yarıyıllara ait ders alabilir.</strong>” şeklinde güncellenmiştir.
        </li>
        <u><strong>ÖNEMLİ HATIRLATMA:</strong></u>
        <li>
            05.09.2017 tarihli Resmi Gazetede yayınlanarak yürürlüğe giren yeni Lisans-Ön Lisans Yönetmeliği'ne göre;
            DC ve DD notları başarılı not kapsamına alınmış olup,
            mezuniyette Son Ağırlıklı Genel Ortalama 2.00 ve üzeri ise ve krediler tamamlanmışsa öğrenci mezun olabilecektir.

            2016 Güz ve sonrası kayıtlı öğrencilerimizin mezuniyet ve not ortalaması hesapları,
            AKTS kredisine göre, daha önceki öğrencilerin hesaplamaları ise lokal krediye göre yapılacaktır.

            Bu nedenle; şu andaki genel not ortalaması 2.00 civarında veya altında olan öğrencilerimizin,
            daha sonra mağduriyet yaşamamak adına DD ve DC notlu derslerini bir an önce tekrar alarak not yükseltmeleri
            menfaatlerine olacaktır.

        </li>
        <li>
            Gazi üniversite Anasayfasına gitmek için <strong><a style="color:red;" target="_blank" href="http://gazi-universitesi.gazi.edu.tr/">Tıklayınız</a></strong>
        </li>
    </ol>
</div>
