
@{
    ViewBag.Title = "OgrDers";
    Layout = "~/Views/Shared/_OgrLayout.cshtml";
}

<table class="table table-bordered content-table" >
    <thead>
        <tr>
            <th colspan="5" style="text-align:center;">DERS PROGRAMI</th>
        </tr>
        <tr>
            <td>PAZARTESİ</td>
            <td>SALI</td>
            <td>ÇARŞAMBA</td>
            <td>PERŞEMBE</td>
            <td>CUMA</td>          
        </tr>
    </thead>
    <tbody>
        
    </tbody>


</table>
