
@{
    ViewBag.Title = "OgrNot";
    Layout = "~/Views/Shared/_OgrLayout.cshtml";
}

<table class="ogrtbl content-table" >
    <thead>
        <tr>
            <th colspan="7" style="text-align:center;">
                <b style="color:red;"> 2017-2018 BAHAR DÖNEMİ NOTLARI</b>
            </th>
        </tr>
        <tr>
            <th width="10%;">Dersin Kodu</th>
            <th style="text-align:center;">Dersin Adı</th>
            <th>Vize</th>
            <th>Final</th>
            <th>Başarı Notu</th>
            <th>Kredi(AKTS)</th>
            <th>Dönem</th>
        </tr>

    </thead>
    <tbody>
        <tr>
            <td>[Z] BM310E</td>
            <td>
                MİKROİŞLEMCİLER
                AA:90-100;BA:84-89;BB:78-83;CB:70-77;CC:61-69;DC:56-60;DD:48-55;FD:42-47;FF:0-41
            </td>
            <td>80</td>
            <td>100</td>
            <td>BA</td>
            <td>4(6)</td>
            <td>2017-2018 BAHAR</td>
        </tr>
        <tr>
            <td>  [Z] BM312  </td>
            <td>
                BİÇİMSEL DİLLER VE OTOMATLAR
                AA:90-100;BA:80-89;BB:70-79;CB:60-69;CC:55-59;DC:45-54;DD:35-44;FD:27-34;FF:0-26
            </td>
            <td>72</td>
            <td>87</td>
            <td>CB</td>
            <td>3(6)</td>
            <td>2017-2018 BAHAR</td>
        </tr>
        <tr>
            <td>[Z] BM316E</td>
            <td>
                VERİ TABANI SİSTEMLERİ
                AA:88-100;BA:79-87;BB:67-78;CB:60-66;CC:51-59;DC:43-50;DD:33-42;FD:25-32;FF:0-24
            </td>
            <td>90</td>
            <td>90</td>
            <td>AA</td>
            <td>3(6)</td>
            <td>2017-2018 BAHAR</td>
        </tr>
        <tr>
            <td>  [Z] BM 102</td>
            <td>
                BİLGİSAYAR PROGRAMLAMA II
                AA:90-100;BA:80-89;BB:68-79;CB:58-67;CC:52-57;DC:40-51;DD:30-39;FD:25-29;FF:0-24
            </td>
            <td>90</td>
            <td>90</td>
            <td>AA</td>
            <td>3(5)</td>
            <td>2017-2018 BAHAR</td>
        </tr>
        <tr>
            <td>[Z] BM309</td>
            <td>
                İŞLETİM SİSTEMLERİ
                AA:80-100;BA:73-79;BB:64-72;CB:55-63;CC:50-54;DC:43-49;DD:35-42;FD:26-34;FF:0-25
            </td>
            <td>48</td>
            <td>82</td>
            <td>BB</td>
            <td>3(5)</td>
            <td>2017-2018 BAHAR</td>
        </tr>
    </tbody>
    



</table>

