<div class=" sidebarr ">
    <ul class="nav in side" id="side-menu">
        <img src="~/Content/img/foto-mehmet-demirci.jpg" style="width:80%; height:80%; display:block; margin:10px auto;" />
        <span style="display:block; text-align:center; color:white; font-size:13px; font-weight:bold;">Giriş Yapıldı.Kullanıcı No.:@HttpContext.Current.User.Identity.Name</span>

        <li>
            <a href="/Home/Anasayfa"> <i>Anasayfa</i></a>
        </li>
        <hr />
        <li>
            <a href="/Ogrenci/OgrEkle"> <i>Öğrenci Ekle</i></a>
        </li>
        <hr />
        <li>
            <a href="/Ogrenci/OgrListele"> <i>Öğrenci Listele</i></a>
        </li>
        <hr />

    </ul>
</div>